/*******************************************************************************
 * Styles for the Game Status UI elements
 ******************************************************************************/

/* The main GameStatus control dock widget on the left side of the screen */
.gameStatus
{
  position: fixed;
  top: 0px;
  left: 0px;
  float: left;
  width: 220px;
}

/* The button for toggling the status being viewed */
.gameStatusToggleStatus
{
  width: 30px;
  height: 30px;
  background-size: 100%;
  float: right;
  border-radius: 100%;
  position: relative;
  margin-top: 3px;
  margin-right: 3px;
  border: 2px solid #000000;
  cursor: pointer;
}
.gameStatusToggleStatus:hover
{
  border-color: #FFFFFF;
}

